<div  class="userInfo" th:if=${session.id}>
    <span th:text="${session.id}"></span><span> 님 / </span>
    <span th:text="${session.mbLevel}"></span><span> 레벨</span>
    <button type="button">
        <a th:href="@{logout}" style="color: #fff">로그아웃</a>
    </button>
</div>

<div class="title" style="color:#00a2be">노래 리스트</div>
<form role="form" th:object=${songFileListVO} th:action="@{SongEditSave}" method="post" enctype="multipart/form-data">
    <div class="section form">
       <table>
        <colgroup>
            <col style="width:10%"/>
            <col style="width:90%"/>
        </colgroup>
        <tbody>
            <tr> 
                <th>제목</th>
                <td>
                    <input type="hidden" th:field="*{Songseq}"/>
                    <input type="hidden" th:field="*{SongisEdit}"/>
                    <input type="text" th:field="*{Songtitle}" placeholder="제목" required/>
                </td>
            </tr>
            
            <tr> 
               <th>가수</th>
                <td >
                	<input type="text" th:field="*{SongSinger}" placeholder="가수" required/>
                </td>
            </tr>
            <tr> 
               <th>노래 URL</th>
                <td >
                	<input type="text" th:field="*{SongURL}" placeholder="URL" required/>
                </td>
            </tr>
            <tr> 
               <th><label for="file">이미지 파일</label></th>
                <td>
                    <input type="file" id="file" name="files" multiple />
	                <span style="color: #00a2be" th:text="'*새로 파일첨부시 기존 파일은 삭제됩니다.(첨부된 파일 : '+ ${fileLen} + '개)'"></span>
                </td>
            </tr>
        </tbody>
       </table>
       <div class="button">
            <button type="submit" style="margin-right: 11px">수정하기</button>
       </div>
    </div>

</form>